body {
    background: url(../res/flat-lay-takeaway-food-wooden-background-delivery-181694373.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content-tab {
    border-radius: 12px;
    background-color: rgba(7, 6, 5, .7);
    padding: 12px;
    margin-bottom: 12px;
}

.container > .content-tab:first-of-type {
    margin-top: 12px;
}

.content-tab > h1 {
    text-align: center;
    color: white;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-tab {
    color: white;
}

.center {
    text-align: center;
    place-content: center;
}

.slideshow img {
    border-radius: 70px;
}

.center-y {
    align-self: center;
}

.card {
    display:inline-block;
    margin: 12px;
    word-wrap: normal;
    vertical-align: top;
    width:18rem;
    color: black;
}

.card .card-text {
    color: black;
}

.hidden {
    display: none!important;
}